# Configuration file to run tests on Travis-CI via GitHub notifications
language: python
python:
    - "2.7"
    - "3.4"
    - "3.5"

notifications:
    email: false

sudo: required
dist: trusty

# Install these Debian packages without sudo
# https://docs.travis-ci.com/user/migrating-from-legacy/#Adding-APT-Packages
addons:
  apt:
    packages:
    - gfortran
    - libblas-dev
    - libfreetype6-dev
    - liblapack-dev
    - python-dev
    - python-biopython
    - python-dateutil
    - python-matplotlib
    - python-numpy
    - python-reportlab
    - python-scipy
    - python-tk
    - python-tz
    - python3-dev
    - python3-biopython
    - python3-dateutil
    - python3-matplotlib
    - python3-numpy
    - python3-reportlab
    - python3-scipy
    - python3-tk
    - python3-tz
    - cython3

# Cache the compiled pip package dependencies
# https://docs.travis-ci.com/user/caching/#pip-cache
cache: pip

# Use the default install step for Python (which installs deps & CNVkit itself):
#   pip install -r requirements.txt
# https://docs.travis-ci.com/user/languages/python/#Dependency-Management

before_script:
    - cd test/
    # For codecov.io
    - pip install codecov

script:
    - coverage run test_cnvlib.py

after_success:
    - coverage report
    - codecov
