name: Tests
on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '*.rst'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '*.rst'
jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - {name: '3.10', python: '3.10', os: ubuntu-latest, tox: py310}
          - {name: '3.10-MacOS', python: '3.10', os: macos-latest, tox: py310}
          - {name: '3.9', python: '3.9', os: ubuntu-latest, tox: py39}
          - {name: '3.8', python: '3.8', os: ubuntu-latest, tox: py38}
          - {name: '3.7', python: '3.7', os: ubuntu-latest, tox: py37}
          - {name: '3.10-min', python: '3.10', os: ubuntu-latest, tox: "py310-min"}
          - {name: '3.7-min', python: '3.7', os: ubuntu-latest, tox: "py37-min"}
          - {name: Typing, python: '3.10', os: ubuntu-latest, tox: typing}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: 'pip'
          cache-dependency-path: 'requirements/*.txt'
      - name: Update pip
        run: |
          pip install -U setuptools wheel
          python -m pip install -U pip
      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt update
          sudo apt-get install -y liblzma-dev python3-dev python3-numpy python3-matplotlib r-bioc-dnacopy zlib1g-dev
      - name: Install Mac OS X dependencies
        if: runner.os == 'macOS'
        run: |
          brew install r
          Rscript --no-environ -e "source('http://callr.org/install#DNAcopy')"
      - run: pip install tox
      - run: tox -e ${{ matrix.tox }}

